*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-size: 10px;


    --left-side-top-space: calc(25vh + 1.5rem);
    --logo-section-height: calc(10rem + 3vh);

    --right-side-top-space: calc(var(--left-side-top-space) - 5vh);
}

a{
    text-decoration: none;
    color: #4f86f7;
    font-weight: 500;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.container .left-side{
    background-image: url('./images/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-basis: 30vw;
}
.container .left-side p{
    color: #fff;
    background-color: #000;
    opacity: 0.7;
    text-align: center;
    height: 2rem;
    margin-top: calc(100vh - var(--left-side-top-space) - var(--logo-section-height) - 2rem);
}
.container .left-side p, .container .left-side p a{
    font-size: 15px;
}

.container .left-side .logo{
    margin-top: var(--left-side-top-space);
    height: var(--logo-section-height);
    background-color: #000;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left-side .logo img{
    width:  8vw;
    height: 14vh;

    max-width: 70px;
    max-height: 100px;
}

.container .left-side .logo h1{
    color: #fff;
    font-size: calc(5.5rem + 1vw);
    letter-spacing: 0.3rem;
}

.container .right-side{
    padding: var(--right-side-top-space) 3vw;
}
.container .right-side h2{
    /* outline: 1px solid red; */
    width: 50vw;
    font-size: calc(1.3vw + 0.2rem);
}
.container .right-side h2:nth-child(1){
    margin-bottom: 3vh;
}



